* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-image: url("./assests/weather-bg.jpg");
  background-size: cover;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  box-shadow: 1px 1px 5px black;
  color: white;
  padding: 60px;
  border-radius: 50px;
  border: 0.1px solid white;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

input {
  margin-top: 30px;
  width: 350px;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid white;
  outline: none;
}

#btn {
  cursor: pointer;
  padding: 10px 25px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #004F98;
  color: white;
  outline: none;
  border: 1px solid white;
}

#display {
  margin-top: 30px;
  font-size: 25px;
  text-align: center;
}

@media screen and (max-width: 550px) {
  body {
    background-size: 900px;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
    padding: 30px;
    border-radius: 25px;
    font-size: 20px;
  }
  
  input {
    margin-top: 20px;
    width: 250px;
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid black;
  }
  
  #btn {
    margin-top: 10px;
    width: 250px;
    cursor: pointer;
    padding: 5px 15px;
    font-size: 15px;
    border-radius: 10px;
  }
  
  #display {
    margin-top: 30px;
    font-size: 16px;
    text-align: center;
  }
}